.nameContainer {
  background: #e4cee5;
  background: repeating-radial-gradient(circle farthest-side at center center, #89acc6 0%, #b792b9 50%,#e5cfe6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: name 5s forwards;
  height: 100%;
}



@keyframes name {
  0% {
    filter: blur(8px);
    transform: scale(0.7);
  }
  100% {
    filter: none;
    transform: scale(1);
  }
}

